{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {pgo, "~> 0.20"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc
]}.

{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [pgo]}
]}.

{hex, [
    {doc, #{provider => ex_doc}},
    {include_files, [
        <<"src">>,
        <<"include">>,
        <<"priv">>,
        <<"doc">>,
        <<"rebar.config">>,
        <<"rebar.lock">>,
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>,
        <<"guides">>
    ]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/Taure/kura">>},
    {logo, <<"priv/kura.png">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"guides/getting-started.md">>,
        <<"guides/changesets.md">>,
        <<"guides/schemaless-changesets.md">>,
        <<"guides/query-builder.md">>,
        <<"guides/associations.md">>,
        <<"guides/cast_assoc.md">>,
        <<"guides/embedded-schemas.md">>,
        <<"guides/multi.md">>,
        <<"guides/migrations.md">>,
        <<"guides/enums.md">>,
        <<"guides/telemetry.md">>,
        <<"doc/architecture.md">>,
        <<"LICENSE">>
    ]},
    {groups_for_extras, [
        {<<"Getting Started">>, [
            <<"guides/getting-started.md">>
        ]},
        {<<"Guides">>, [
            <<"guides/changesets.md">>,
            <<"guides/schemaless-changesets.md">>,
            <<"guides/query-builder.md">>,
            <<"guides/associations.md">>,
            <<"guides/cast_assoc.md">>,
            <<"guides/embedded-schemas.md">>,
            <<"guides/multi.md">>,
            <<"guides/migrations.md">>,
            <<"guides/enums.md">>,
            <<"guides/telemetry.md">>
        ]},
        {<<"Reference">>, [
            <<"doc/architecture.md">>,
            <<"CHANGELOG.md">>
        ]}
    ]},
    {groups_for_modules, [
        {<<"Core">>, [kura_schema, kura_changeset, kura_query, kura_repo, kura_repo_worker]},
        {<<"Features">>, [kura_multi, kura_types, kura_migration, kura_migrator]},
        {<<"Internal">>, [kura_query_compiler]}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/Taure/kura">>},
    {api_reference, true}
]}.
